/* Estilos para el cuerpo de la página */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

/* Estilos para el encabezado (header) */
header {
    background-color: #3498db;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px; /* Aumentar el padding superior e inferior */
    width: 100%;
    text-align: center;
}

/* Estilos para el título h1 */
h1 {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
}

h2{
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
    color: #3498db;
    padding: 10px;
}

/* Estilos para el contenedor de botones */
.botones-container {
    display: flex;
    flex-direction: column; /* Cambia la dirección a vertical */
    align-items: center; /* Centra los botones horizontalmente */
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}

/* Estilos para los botones */
.botones-container button {
    background-color: #3498db;
    color: #fff;
    padding: 20px; /* Aumenta el espacio alrededor del texto */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem; /* Aumenta el tamaño de fuente */
    transition: background-color 0.3s ease;
    width: 100%;
    margin: 10px 0;
    text-align: center; /* Centra el texto horizontalmente */
}

/* Cambiar el color de fondo al pasar el cursor por encima */
.botones-container button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

/* Estilos para el botón "Editar" */
#editar {
    margin-top: 30px;
}

/* Estilos para los botones de "Perfil", "Estudiantes", "Profesor" y "Usuario" */
button.perfil,
button.cursos-disponibles,
button.cursos-matriculados,
button.estudiantes,
button.profesor,
button.usuario,
button.ver-cursos,
button.crear-cursos{
    background-color: #3498db;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    width: 100%;
    margin: 10px 0;
    text-align: center; /* Centra el texto horizontalmente */
}

/* Cambiar el color de fondo al pasar el cursor por encima */
button.perfil:hover,
button.cursos-disponibles:hover,
button.cursos-matriculados:hover,
button.estudiantes:hover,
button.profesor:hover,
button.usuario:hover ,
button.crear-cursos:hover,
button.ver-cursos:hover{
    background-color: #2980b9;
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

/* Estilos para el contenedor de registro */
.registro-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

/* Estilos para el formulario */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

/* Estilos para el enlace de inicio de sesión */
p a {
    text-decoration: none;
    color: #3498db;
}

p a:hover {
    text-decoration: underline;
}

/*  Lista de usuarios  */

/* Estilos para el contenedor principal */
.busqueda-container {
    display: flex;
    justify-content: flex-end; /* Coloca los elementos al extremo derecho */
    align-items: center; /* Alinea verticalmente los elementos */
    padding: 20px;
}

/* Estilos para el contenedor de búsqueda */
.buscar-input {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos en la barra de búsqueda */
}

/* Estilos para el campo de entrada */
#nombre-usuario {
    margin-right: 10px; /* Agrega espacio entre el campo de entrada y el botón de búsqueda */
}

/* Estilos para el contenedor de resultados */
.resultado-container {
    margin-top: 20px; /* Agrega margen en la parte superior para moverlo hacia abajo */
    margin-left: 20px; /* Agrega margen en la izquierda para moverlo hacia la izquierda */
}

/* Estilos para los botones de resultados */
.resultado-container button {
    margin-bottom: 5px; /* Agrega espacio entre los botones de resultado */
}

/* Estilos para colocar los botones a la derecha del div */
.botones-derecha {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.boton-volver button {
    background-color: #3498db;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.2rem;
    position: fixed;
    bottom: 20px; /* Ajusta la distancia desde la parte inferior */
    right: 20px; /* Ajusta la distancia desde la derecha */
    z-index: 9999;
}

/* Estilos para el contenedor de usuario */
.contenedor-usuario {
    background-color: #fff; /* Fondo blanco */
    padding: 80px; /* Espaciado interno para contenido */
}

/* Contenedor principal */
.contenedor-curso {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos a los lados */
}

/* Estilos para los divs de información y temas */
.informacion-curso {
    background-color: white;
    padding: 200px;
    flex: 1; /* Toma el espacio disponible */
    margin-right: 100px; /* Agrega un margen a la derecha para separarlos */
}

.temas-curso {
    background-color: white;
    padding: 200px;
    flex: 1; /* Toma el espacio disponible */
    margin-left: 100px; /* Agrega un margen a la izquierda para separarlos */
}

/* Estilos para los botones en la lista de cursos */
.curso-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 15px 20px;
    margin: 5px 0;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: block; /* Cambia a bloque para que se muestren verticalmente */
    font-size: 1.5rem;
    width: 100%; /* Ocupa el ancho completo del contenedor */
}