body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

header {
    background-color: #3498db;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
    color: #3498db;
    padding: 10px;
}

.botones-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}

.botones-container button {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background-color 0.3s ease;
    width: 100%;
    margin: 10px 0;
    text-align: center;
}

.botones-container button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

#editar {
    margin-top: 30px;
}

button.perfil,
button.cursos-disponibles,
button.cursos-matriculados,
button.estudiantes,
button.profesor,
button.usuario,
button.ver-cursos,
button.crear-cursos {
    background-color: #3498db;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    width: 100%;
    margin: 10px 0;
    text-align: center;
}

button.perfil:hover,
button.cursos-disponibles:hover,
button.cursos-matriculados:hover,
button.estudiantes:hover,
button.profesor:hover,
button.usuario:hover,
button.crear-cursos:hover,
button.ver-cursos:hover {
    background-color: #2980b9;
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.registro-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

p a {
    text-decoration: none;
    color: #3498db;
}

p a:hover {
    text-decoration: underline;
}

.busqueda-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.buscar-input {
    display: flex;
    align-items: center;
}

#nombre-usuario {
    margin-right: 10px;
}

.resultado-container {
    margin-top: 20px;
    margin-left: 20px;
}

.resultado-container button {
    margin-bottom: 5px;
}

.botones-derecha {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.boton-volver button {
    background-color: #3498db;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.2rem;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    transition: background-color 0.3s ease;
}

.boton-volver button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.contenedor-usuario {
    background-color: #fff;
    padding: 80px;
}

.contenedor-curso {
    display: flex;
    justify-content: space-between;
}

.informacion-curso {
    background-color: white;
    padding: 200px;
    flex: 1;
    margin-right: 50px;
}

.temas-curso {
    background-color: white;
    padding: 200px;
    flex: 1;
    margin-left: 0px;
}

.curso-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 15px 20px;
    margin: 15px 0;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1.5rem;
    width: 100%;
}

.botones {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.crear-curso button {
    background-color: #3498db;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.2rem;
    position: fixed;
    bottom: 20px;
    right: 380px;
    z-index: 9999;
}

.crear-curso button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.tema-curso-form,
.subtema-curso-form {
    text-align: center;
    margin-top:
